<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      Sculptify
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!loggedIn">
          <li class="nav-item" routerLinkActive="active">
            <a class="btn btn text-white rounded-pill px-3" routerLink="/login">Логин</a>
          </li>
        </ng-container>
        <ng-container *ngIf="loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-blog" routerLinkActive="active">Добавить новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/all-blogs" routerLinkActive="active">Список Блога</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-blogs" routerLinkActive="active">Ваш Блог</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="btn" (click)="logout()">Выход</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
