<div class="container">
  <!-- Hero Section -->
  <div class="row d-flex align-items-center">
    <div class="col-lg-6">
      <span class="text-secondary fst-italic">Создайте уникальный и красивый блог.</span>
      <h3 class="text-secondary">Это просто. Просто войдите и начните!</h3>
      <a class="btn btn-warning text-white rounded-pill mt-3">
        Начните
      </a>
    </div>
    <div class="col-lg-6">
      <br><br><br>
      <img src="../../../assets/Blog post-amico.png" alt="image" class="img-fluid">
    </div>
  </div>
</div>




